/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
}

body {
	font-family: "Poppins", sans-serif;
	max-width: 1440px;
	margin: 0 auto;
}

/* --------------- CSS for nav bar -------------- */

[aria-label="navbar"] {
	background-color: #000000;
	width: 100vw;
	height: 5.5rem;
	display: flex;
	align-items: center;
}

nav {
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 95px;
}

nav div img {
	margin-left: 100px;
	height: 2.5rem;
}

.grow-list {
	flex-grow: 1;
}

.line {
	height: 3rem;
	width: 0.1rem;
	background-color: #fff;
	margin: 0 5rem;
}

ul {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 15px;
}

li {
	list-style: none;
	margin-right: 60px;
	color: #cad5e2;
}

li:first-child::after {
	content: "  \0002C7";
	position: relative;
	top: 4px;
	width: 5px;
}

.button-small {
	margin-right: 100px;
	padding: 10px;
	width: 130px;
	height: 35px;
	background-color: #b828af;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	font-weight: 600;
	letter-spacing: 0.75px;
}

/* ------------------------------------------- */

/* -------------- CSS for Hero Section ------------ */
[aria-label="hero"] {
	background-image: url("./assets/bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}

.hero {
	text-align: center;
	margin-top: 155px;
	width: 50vw;
	margin-left: 385px;
}

h1 {
	font-size: 60px;
	color: #ffffff;
	margin-left: 50px;
	margin-right: 50px;
	font-weight: 600;
	line-height: 1.2;
}

p {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	margin-top: 5px;
}

.button-large {
	margin-top: 40px;
	font-size: 20px;
	padding: 10px;
	width: 260px;
	height: 55px;
	background-color: #bb19b0;
	color: #ffffff;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	letter-spacing: 0.75px;
}
